<div class="container"> 

    <div class="flex">
        <div class="flex-inner">
            <div class="section-1">
                <h1>Student Management Portal</h1>
                <p>Manage Students Details in an Organized Manner</p>

                <div class="button"><button mat-raised-button color="primary" (click)="gotoList()">Search Student</button></div>
            </div>
            
            <div class="section-2">
                <img src="../../../assets/hero.svg" alt="hero image">
            </div>
        </div>
    </div>
</div>